body {
    font-family: arial, helvetica, georgia;
    background-color: rgb(0, 0, 0);
    color: antiquewhite;
    margin: 10px;
    padding: 15px;
}
h1 {
    font-weight: 300;
    color: aliceblue;
    margin: 10px;
    padding: 15px;
}
h2 {
    font-weight: 200;
    color: antiquewhite;
    margin: 10px;
    padding: 15px;
}
h3 {
    font-weight: 100;
    color: aquamarine;
    margin: 10px;
    padding: 15px;
}
img {
    border: 2cm;
    width: auto;
    border-radius: 50%;
    margin: 10px;
    padding: 15px;
}
